<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>任务展示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>
    <nav th:replace = "admin/_fragments :: menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
        </div>
    </nav>

        <div class="container-fluid">
            <div class="row">
                <div th:replace = "admin/_fragments :: sidebar(5)" class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class = "alert-info alert-dismissable" th:unless="${#strings.isEmpty(message)}">
                        <div class="header">提示:</div>
                        <p th:text="${message}"></p>
                    </div>
                    <div class = "alert-danger alert-dismissable" th:unless="${#strings.isEmpty(fail)}">
                        <div class="header">提示:</div>
                        <p th:text="${fail}"></p>
                    </div>
                    <h2 class="sub-header">邮件清单</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>名称</th>
                                <th>发送时间</th>
                                <th>内容</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mail, iterStat: ${page.content}">
                                <td th:text="${iterStat.count}"></td>

                                <td th:text="${mail.head}"></td>
                                <td th:text="${mail.send_date}"></td>
                                <td th:text="${mail.content}"></td>
                                <td th:text="${mail.send_status == 0? '未发送' : '发送'}"></td>
                                <td>
                                    <a herf="#" th:href="@{/mail/delete/{id}(id=${mail.id})}" class="btn btn-danger ">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pager">
                            <p>
                                当前<span th:text="${page.number + 1}"></span>页,
                                共<span th:text="${page.totalPages}"></span>页
                                <a th:href="@{/admin/history(page=0)}" class="item">首页</a></li>
                                <a th:href="@{/admin/history(page=${page.number} - 1)}" class="item" th:unless="${page.first}">上一页</a></li>
                                <a th:href="@{/admin/history(page=${page.number} + 1)}" class="item" th:unless="${page.last}">下一页</a></li>
                                <a th:href="@{/admin/history(page=${page.totalPages - 1})}" class="item">尾页</a></li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <th:block th:replace="_fragments :: script">
    </th:block>
</body>

</html>