<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>任务展示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>
<nav th:replace = "admin/_fragments :: menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" th:replace = "admin/_fragments :: sidebar(4)">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">提交任务</h2>
            <form class="form-horizontal" method="post" th:object="${task}" th:action="*{id}==null ? @{/task} : @{/task/{id}(id=*{id})}" style="width: 60%" action="#">
                <div class="form-group">
                    <h2 class="form-signin-heading">任务提交</h2>
                    <label for="id" class="sr-only" >id</label>
                    <input type="hidden" id="id" name="id" th:value="*{id}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name" class="sr-only" >任务名称</label>
                    <input type="text" id="name" name ="name" class="form-control" placeholder="名称" th:value="*{name}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="content" class="sr-only" >任务内容</label>
                    <textarea type="text" id="content" name="content" class="form-control" placeholder="内容" th:value="*{content}" required autofocus rows = "4"></textarea>
                </div>
                <div class="form-group">
                    <label for="end_time" class="sr-only">时间</label>
                    <input type="date" id="end_time" name="end_time" class="form-control" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>



            </form>

        </div>
    </div>
</div>

<th:block th:replace="_fragments :: script">
</th:block>



</body>

</html>